body
{
    text-align: center;
    background-color: black;
    color: white;
}
img
{
    height: 300px;
    width: 200px;
}
.card
{
    margin: 7px;
    padding: 7px;
    background-color: grey;
    float:left;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    
}